/* index.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  text-decoration: none; /* add line-through text decoration */
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
